<h2 style="color: darkorange">Bài thực hành 1</h2>
<app-name-card cardName="BachChe Senior" email="chebach97bk@gmail.com" phone="0905051904"></app-name-card>
<h2 style="color: #98bf21">Bài thực hành 2</h2>
<app-progress-bar width="85"></app-progress-bar>
<h2 style="color: dodgerblue">Bài tập 1: Rating {{rating}}</h2>
<app-rating-bar [max]="20" (rateChange)="onRateChange($event)"></app-rating-bar>
<h2 style="color: #fd6d94">Bài tập 2: Countdown Times</h2>
<app-count-down-time [seconds]="10"></app-count-down-time>
